@import 'config/_variable';
.upercase{
	font-weight: 600;
    text-transform: uppercase;
}
.menu-align{
	margin-left: 0;
}
.marginalign{
	margin:  0 20px;
}
.padding-left{
	padding: 0px 20px;
    margin-top: 20px;
    margin-left: 8px;
}
.margin-left{
	margin-left: 75px;
    border: 1px solid #D7E8EF !important;
}
.fa-width{
	font-size: 35px;
    vertical-align: middle;
}
.bg{
	background: $blue;
    padding: 15px 29px;
    span{
    	color: #FFF;
    }
}
.color-blue{
	color: $blue;
}
.color-text{
	color: $text;
}

.starrr { 
	display: inline-block; 
	margin-left: 20%;
}
.starrr i {
  	font-size: 18px;
  	padding: 0 1px;
  	cursor: pointer;
  	color: #7F7F7F;
}
.active{
	color: #ffd119 !important;
}
.caption{
h3{
	text-transform: uppercase;
    font-size: 15px;
    color: $text;
    text-align: center;
    font-weight: 700;
	}
}
a{
	text-decoration: none;
	&:hover, &:active, &:focus, &:visited{
		text-decoration: none;
	}
}
.text-center{
	text-align: center;
	color: $text;
}
.vitrine-align{
	margin: -0 315px;
	margin-left: 298px;
}
.hid{
	display: none;
}
