@import 'config/_variable';
.upercase{
	font-weight: 600;
    text-transform: uppercase;
}
.menu-align{
	margin-left: 5%;
}
.marginalign{
	margin: 0 10px;
}
.padding-left{
	padding: 0 24px;
	margin-top: 20px;
}
.margin-left{
	margin-left: 75px;
	border: 1px solid $blue2 !important;
}
.fa-width{
	font-size: 35px;
    vertical-align: middle;
}
.bg{
	background: $blue;
    padding: 15px 29px;
    span{
    	color: #FFF;
    }
}
.color-blue{
	color: $blue;
}
.color-text{
	color: $text;
}