/*Colors*/
$blue: #008FCE;
$blue2: #D7E8EF;
$black : #090909;
$white : #fff;
$text : #B4C4CB;
$cta : #FA8904;
$black2: #323232;
$grey: #969696;
$text-white: #DFDFDF;
$whiteAl: rgba(193, 193, 193, 0.3);
$ctalink: #FF4E00;
$Wats: #12FF00;

//fonts
$font-family:'Roboto', sans-serif , 'Glyphicons Halflings','FontAwesome';
$font-family2:'Raleway', sans-serif, 'Glyphicons Halflings','FontAwesome';